/*For mobile*/
@media (max-width: 1000px) {
  body {
    background-size: cover;
  };
}






/*For desktop*/
body {
  background-image: url('images/arigif.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
};
