/*For mobile*/
@media (max-width: 1000px) {
  body {
    background-image: url('images/arieldev.jpg');
    background-size: cover;
    background-position: center;
  };
}






/*For desktop*/
body {
  background-image: url('images/arieldev.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
};
